extends layout

block content
    h1= title
    a(href="/new", class="new-msg")= "New message" 
    div 
        each mes in messages 
          div(class="message") 
            p(class="text")= mes.text
            p(class="user")= " - " + mes.user
            p(class="time")= mes.added.toLocaleString("no-NO")

